* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:hover {
    cursor: pointer;
}

.container {
    width: 100%;
}
.navbar {
    background: rgb(35, 35, 104);
    padding: 1em 2em;
    color: white;
    display: flex;
    justify-content: space-between;
}
.navbar .login button{
    padding: 0.3em 1.5em;
    border: none;
    background: white;
    color: rgb(35, 35, 104);
    font-weight: 600;
    font-size: 1em;
}
.content {
    display: flex;
}
.content .records, .notifications {
    width: 50%;
    margin: 0.5em;
    border: 1px solid gray;
    height: 88vh;
    overflow-y: scroll;
    padding-top: 1em;
}
.container .records h2, .notifications .title {
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    border-bottom: 1px solid gray;
}
.container .notifications .title {
    display: flex;
    justify-content: space-between;
    padding-right: 0.7em;
    align-items: center;
}
.notifications .search-patient #searchPatient {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.notifications .search-patient button, .notifications .title button {
    background-color: green;
    border: none;
    padding: 0.5em 1em;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.notifications .search-patient {
    margin: 1em;
}
.notifications .search-patient #searchPatient input {
    width: 88%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}


.upload-form form {
    /* max-width: 500px; */
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.upload-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.upload-form input[type="text"],
.upload-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 16px;
}

.upload-form textarea {
    resize: vertical;
    height: 150px;
}

.upload-form button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.upload-form button[type="submit"]:hover {
    background-color: #45a049;
}

.patient-data form #patient-checklist {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 100%;
}
#patient-checklist input, #patient-checklist label {
    margin-bottom: 1em;
}

.patient-data form input[type="submit"] {
    padding: 0.5em 1em;
    background-color: #4caf50;
    color: white;
    border: none;
    font-weight: 600;
}

